<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es-ES" xml:lang="es-ES"  xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>[% c.config.name %]</title>
</head>
<body>
    [% IF c.user_exists %]
        <p>Please Note: You are already logged in as '[% c.user.username %]'.
        You can <a href="[% c.uri_for('/logout') %]">logout</a> here.</p>
    [% END %]

    